{% extends 'base.html %}


{% block content %}

<div id='sign-in-container'>
    <p>Secure Sign-In</p>
    <div id='inner-sign-in-container'>

        <div id='online-id'>
            <span>Online ID:</span>
        </div>
        <div id='save-id'>
            <span>Save Online ID</span>
        </div>
        <div id='passcode'>
            <span>Passcode:</span>
        </div>
        <div id='enroll-link-container'></div>
        <div id='help-options'></div>

    </div>

</div> 
<!-- end sign-in-container -->

{% endblock %}