{% extends 'base.html %}


{% block content %}

<div id='sign-in-container'>
    <p>Secure Sign-In</p>
    <div id='inner-sign-in-container'>
        <form class='enroll' action='/loan_application' method='POST'>
        <div id='online-id'>
            <label>Online ID:</label><br>
            <input type="text" name="username" class="span3">
        </div>
        <div id='save-id'>
            <label><input type="checkbox" name="save-id">Save Online ID</label>
        </div><br>
        <div id='passcode'>
            <label>Passcode:</label><br>
            <input type="password" name="password" class="span3">
        </div><br>
        
        <div id='enroll-link-container'>
            <div id='submit-btn'>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-lock"></span> Sign In
                </button>
                <span><a href="blank">Enroll</a></span><br>

            </div>
        </div>
        <br>
        <div id='help-options'><a href="blank">&#x25B8; Sign-in help options</a></div>
        </form>

    </div>

</div> 
<!-- end sign-in-container -->

{% endblock %}