{% extends 'base.html' %}

{% block content %}
<div class="container-fluid"><img src="/static/images/auto_banner.png" style='max-width:100%'></div>
<div class="container-fluid"><img src="/static/images/progress4.png" style='max-width:100%'></div>

<div class="container-fluid" style='background-color: #f9f7f4; max-width:100%'>
    <h2 style='color:#00004d;'>Review & Submit</h2>
    <div style="color:#6b5e51; font-size:20px;">Danya, you're almost done. Please check your information before you submit.</div>

<br>
<hr class='style1'>
<br>

    <div class='headers'>About your loan</div><div> | <a href="#">Edit</a> </div>

<br>
<hr class='style1'>
<br>

</div>
{% endblock %}